@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
:root{
    --red-color:#A10C28;
    --orange-color:#E3922A;
    --green-color:#1A441B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body{
    width: 100%;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background: var(--red-color); */
    background-image: url(../Images/bg.png);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

#wrapper{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border: 14px solid var(--orange-color);
    border-top: 14px solid var(--red-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.pushToTop{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
    opacity: 0;
}

.pushToTop:hover{
    color: var(--orange-color);
}

.fixed-action-btn {
    position: fixed;
    bottom: 160px;
    right: 10px;
    width: 200px;
    z-index: 99;
}

.contact-box-wrapper{
    display: flex;
    background-color: #fff;
    margin: 10px 0;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contact-box-wrapper:hover{
    transform: translateY(-5px);
}

.contact-icon-box {
    width: 60px;
    height: 60px;
    border: none;
    margin-right: 10px;
    display: contents;
}

.contact-icon-box img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.contact-info{
    padding: 10px;
    color: #000;
    transition: all 0.3s ease;
}

.contact-info:hover b{
    color: var(--red-color);
}

.contact-info b{
    font-weight: 600;
    color: #555;
}

.contact-info span{
    display: block;
    font-size: 12px;
    color: #888;
}

.wrapper{
    background-color: #FEE1D4;
    /* overflow-x: hidden; */
    min-height: 100vh;
    min-width: 1200px;
}


.wrapper_body{
    display: block;

}

/* css menu */

.wrapper_header{
    width: 100%;
    display: block;
    background-color: #A21627;  
    padding: 3px 0;  
}

.header_contain{
    margin: 0 auto;
    height: 95px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1360px;
    align-items: center;
}

.logo_main{
    height: 100%;
    margin: 5px 0 10px 50px;
}

.logo_main-header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo_main-header img{
    height: 100%;
    object-fit: cover;
}

.form_search{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px 30px 8px 10px;
    border-radius: 25px;
    position: relative;
}

.form_search input{
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000;
    border: none;
    width: 500px;
    position: relative;
}

.form_search input:focus{
    outline: none;
}

.iconSearch{
    color: #999;
    position: absolute;
    width: 50px;
    cursor: pointer;
    border: none;
    transform: translateY(8px) translateX(-20px);
}

.iconSearch:hover{
    color: #000;    
}
/* 
.bx-cart{
    color: #ffffff;
    font-size: 25px;
    height: 100%;
    cursor: pointer;
    margin-left: 10px;
    border-left: 1px solid #ffffff;
    padding-left: 5px;
} */

.amount{
    display: flex;
    height: 16px;
    width: 16px;
    background-color: #EF3F4D;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

.menu_user{
    margin-left: 10px;
    width: 20px;
}

.action-1{
    border-right: 1px solid #ffffff;
    padding-right: 10px;
}

.menu_cart{
    width: 22px;
    margin: 10px;
}

.menu_action{
    display: flex;
    align-items: center;
    background-color: #E3922A;
    width: 90px;
    height: 100%;
}

.menu_action-item{
    position: relative;
}

.wrapper_container{
    margin: 0 auto;
    width: 100%;
    max-width: 1360px;
}

.content{
    display: flex;
    position: relative;
}

/* css sidebar */

.container_left{
    width: 250px;
    margin: 0 auto;
    position: relative;
}


.sidebar{
    background-color: #222123;
    padding-bottom: 20px;
    position: sticky;
    top:3px;
}

.icon_menu-res i{
    font-size: 30px;
    position: absolute;
    right: 0;
    padding: 20px;
    display: none;
}

.sidebar_content{
    display: block;
}

.sidebar_heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.sidebar_company{
    color: #DEDAD7;
    font-size: 2rem;
    font-family: "DM Mono", monospace;
    font-weight: 900;
    /* background: url(/Images/bg1.png);    
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.sidebar_menu{
    display: none;
}

.sidebar_menu i{
    display: none;
    color: #FAF6EF;
    font-size: 25px;
}

.sidebar_items{
    line-height: 20px;
    z-index: 99;
    transition: 0.5s;
}

.sidebar_res{
    padding: 20px;
    transition: all ease-in-out 0.3s;
}

.sidebar_items a{
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    z-index: 99;
}

.arrow_sub{
    position: relative;
}

.sub_arrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    margin-right: 5px;
}

.rotate{
    transform: rotate(-90deg);
}

.sub_arrow i{
    font-size: 10px;
}

.sidebar_items a:hover .sidebar_res{
    background-color: #A10C28;
    z-index: 99;
    transform: translateX(-5%);
    scale: 1.11;
    transition-delay: 0.1s;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.sidebar_items span{
    padding-left: 20px;
    z-index: 99;
    
}

.submenu{
    width: 100%;
    transition: 0.5s;
    display: none;
    z-index: 99;
}

.submenu_items{
    padding: 15px;
    padding-left: 70px;
    background-color: rgba(83, 83, 83, 0.7);
}

.submenu_items:hover{
    background-color: #A10C28;
    transition-delay: 0.1s;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}


.container_right {
    width: calc(100% - 250px); 
    background-color: #FEE1D4;
    margin: 0 auto;
}

/* css slideshow */
.right_slideshow{
    position: relative;
    max-height: 250px;
    width: 100%;
    z-index: 0;
}

.slideshow{
    overflow: hidden;
}

.right_slideshow:hover .btn{
    display: block;
}

.list_images{
    display: flex;
    max-height: 250px;
    transition: 0.5s;
    object-fit: cover;
}

.list_images img{
    width: 100%;
    object-fit: cover;
}

.btns{
    color: #999;
    top: 0;
}

.btn_left , .btn_right{
    position: absolute;
    top: 50%; 
    font-size: 35px;
    font-weight: bold;
    transform: translateY(-50%);
}

.btn{
    margin: 0;
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 100px 5px;
    display: none;
}

.btn:hover{
    background-color: rgba(133, 133, 138, 0.6);
    color: #ffffff;
}

.btn_left{
    left: 0;
}

.btn_right{
    right: 0;
}

.index_images{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.index_items{
    margin: 3px;
    padding: 2px;
    width: 25px;
    height: 2px;
    cursor: pointer;
    border: 1px solid #999;
}

.active{
    background-color: #F0454C;
}

/* css list product */

.container_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.product_cards{
    position: relative;
    width: calc(100%/3);
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 0 10px 40px;
}

.content_product{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;

}

.content_product_desc{
    width: 100%;
    height: 35%;
}

.content_product_img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.content_product_img img{   
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.like{
    position: absolute;
    font-size: 20px;
    color: #ffffff;
    right: 0;
    padding: 5px;
    visibility: hidden;
    cursor: pointer;
    transition: color ease-in 0.3s;
}

.heartWhite{
    color: #ffffff;
}

.heartRed{
    color: var(--red-color);
}


.content_product_img:hover .like{
    visibility: visible;
}

.content_product_img:hover .product_hover{
    cursor: pointer;
    transform: translateY(-102%);
    height: 140px;
    opacity: 1;
    visibility: visible;
}

.product_hover{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(0%);
    transition: transform 0.3s ease;
    color: #FAF6EF;
    font-size: 14px;
    width: auto;
    overflow: auto;
    text-align: center;
}

.product_hover h3{
    font-weight: bold;
    padding: 10px;
}


.product_name{
    padding: 10px 0;
    color: #48486D;
    font-size: 20px;
}

.product_name h3{
    font-weight: 700;
    font-size: 20px;
}

.product_actions{
    display: flex;
    flex-direction: column;
}

.prices , .dis_prices, .re_prices{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    display: inline-flex;
    color: #A50C15;    
    align-items: center;
}

.dis_prices{
    text-decoration: line-through;
    border-right: 1px solid #48486D;
    padding-right: 15px;
    color: #999;
}

.re_prices{
    margin-left: 10px;
}

.order{
    display: flex;
    text-decoration: none;
    text-align: center;
    align-self: flex-end;
}

.order button{
    padding: 8px 12px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #A21627;
    border-radius: 4px;
    border-width: 2px;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

.order:hover button{
    /* background-color: rgba(29, 170, 158, 0.8); */
    cursor: pointer;
    background-image: linear-gradient(to left, rgba(250, 246, 3, 0.9), rgba(250, 171, 0, 0.76));
}

.seemore{
    display: none;
}

.seemore_product{
    width: 100%;
    text-align: center;
}

#seeMoreButton{
    padding: 8px 10px;
    border: 1px solid #A21627;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #999;
    font-weight: 500;
    min-width: 24.375rem;
    height: 2.5rem;
}


/* css marquee */

.best_selling{
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.best_selling-item{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.marquee{   
    margin: 20px 0px 10px 0px;
    margin-bottom: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 600px;
    background-color: #1A441B;
}

.marquee_content{
    margin-top: 20px;
    display: block;
    position: relative;    
    color: #ffffff;
    transition: 0.5s;
    animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
    0% {
        /* transform: translateX(0); */
        transform: translateX(-225%);

    }
    100% {
        /* 9*20% */
        /* transform: translateX(-180%);         */
        /* 9 * 25 */

        transform: translateX(0);
        /* transform: translateX(-225%); */
    }
}

.marquee_content:hover{
    animation-play-state: paused;
}

.list_marquee{
    display: flex;
    height: 100%;
    justify-content: space-between ;
    list-style-type: none;
    width: 100%;
}

.list_marquee li{
    width: calc(100% / 4); 
    flex-shrink: 0;
    font-size: 5rem;
    transition: 0.5s;
    padding-right: 30px;
}

.list_marquee li img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.list_marquee li:hover{
    scale: 1.1;
}

/* css line */

.line{
    display: block;
    position: relative;
    width: 100%;
}

.line_height{
    box-sizing: border-box;
    background-image: url(../Images/line.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 65px;
    z-index: 1;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -50px;
}

/* css news */

.news{
    margin: 0;
    width: 100%;
    position: relative;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    background-color: #E38F30;
}

.news_title{
    position: relative;
    margin: 10px auto;
}

.news_heading{
    position: absolute;
    line-height: 200px;
    text-align: center;
    font-family: "Jersey 25", sans-serif;
    font-size: 250px;
    letter-spacing: 5px;
    opacity: 0.2;
    left: 50%;
    color: #ffffff;
    transform: translateX(-50%);
}

.news_story{
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-top: 70px;
}

.news_story-heading{
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
}

.news_story-desc{
    font-size: larger;
}

.news_contain{
    width: 100%;
    margin: 20px 0;
    display: block;
    min-height: 600px;
}

.news_body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.news_body-items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 15px;
    padding-bottom: 30px;
}

.news_body-img{
    width: 100%;
    height: 50%;
}

.news_body-img img{
    border-radius: 50%;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(125,58,0,.62);
}

.news_body-text{
    padding: 20px 0;
    display: block;
    width: 100%;
    height: 40%;
}

.news_body-title{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
}

.news_body-btn{
    padding-top: 15px;
}

.news_body-btn button{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 13px;
    background-color: #A21627;
    color: #F3BE62;
    border-radius: 21px;
    padding: 15px 25px 14px;
    margin: 0;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.news_body-btn button:hover{
    transition: 0.3s;
    background-color: #DEDAD7;
}



/* css footer */

#footer{
    display: block;
    /* margin-top: 60px; */
    width: 100%;
    background-color: #A21627;
}

.wrapper_footer{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border-top: 2px solid #EE4D2D;
    margin-bottom: 10px;
    margin: 0px auto;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 20px auto;
    padding: 0;
}

.footer_container>div{
    margin-left: 20px;
}

.footer_heading{
    color: #F3BE62;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

.footer_desc{
    color: #FEE1D4;
    margin: 10px 0;
    font-size: 16px;
}

.footer_form input{
    padding: 12px;
    width: 100%;
    padding-left: 10px;
    border-top: 1px solid #5A2B1F;
    border-right: 2px groove #5A2B1F;
    border-bottom: 1px solid #5A2B1F;
    border-left: 1px solid #5A2B1F;
    margin: 10px 0;
}

.footer_form button{
    padding: 12px;
    width: 100%;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: all .3s linear;
    color: #EF3F4D;
    border: 0;
    outline: 0;
    background-image: linear-gradient(to left, rgba(250, 246, 3, 0.9), rgba(250, 171, 0, 0.76));
}

.footer_form button:hover{
    background-image: linear-gradient(to bottom, rgba(250, 246, 3, 0.9), rgba(250, 171, 0, 0.76));
}

.footer_notification{
    width: 120%;
    display: block;
}

.footer_help{
    width: 100%;
    padding-left: 10px;
}

.footer_desc-help{
    padding: 0;
}

.footer_desc-help ul{
    list-style-type: none;
}

.footer_desc-help ul li{
    padding-bottom: 20px;
}

.footer_payment {
    width: 100%;
}

.footer_payment .payment{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.payment img{
    width: 40px;
    height: 100%;
    line-height: 60px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.footer_contact ul{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}

.footer_contact ul li img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.footer_copyright{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E4E4E4;
    width: 1170px;
    margin: 0 auto;
    padding: 15px;    
    justify-content: center;
    align-items: center;
    color: #ffffff;
    align-content: center;
}

.copyright, .info{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* css social */

.social{
    position: absolute;
    position: fixed;
    z-index: 999;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.icon img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px 5px 0 0;
    cursor: pointer;
}

/* responsive */

/* Media query cho máy tính bảng */
@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .seemore{
        display: none;
    }

    .wrapper_container {
        margin: 0 auto;
        width: 100%;
        max-width: none;
        padding-right: 20px;
        padding-left: 20px;
    }

    .header_contain{
        max-width: none;
    }


    /* css header */

    .logo_main {
        height: 100%;
        margin: 5px 0 10px 15px;
    }

    .form_search input{
        max-width: 450px;
    }

    .menu_action{
        margin-right: 20px;
    }

    /* css sidebar */
/* 
    .content{
        display: block;
    }

    .container_left{
        width: 100%;
        position: relative;
        display: block;
    }


    .sidebar{
        background-color: #222123;
        padding-bottom: 0;
    }

    .sidebar_content{
        display: flex;
        background-color: #222123;
        padding-bottom: 0;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    .sidebar_heading{
        align-items: center;
        text-align: center;        
        height: 100px;
        padding: 10px;
    }

    .sidebar_heading img{
        object-fit: cover;
    }

    #sidebar_container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .sidebar_company{
        overflow: hidden;
        width: 0;
        display: none;
    }

    .sidebar_items{
        display: block;
        position: relative;
    }

    .sidebar_items a:hover .sidebar_res {
        background-color: #A10C28;
        z-index: 99;
        transform: translate(0);
        scale: 1;
        transition-delay: 0.1s;
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .sidebar_items span{
        font-size: 20px;
        padding: 0;
    }

    .sidebar_res i{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .submenu {
        width: 100%;
        display: flex;
        z-index: 99;
        float: left;
    }

    .submenu_items {
        padding: 20px;
        padding-left: 0px;
        text-align: center;
        background-color: rgba(83, 83, 83, 0.7);
    } */
    /* css slideshow */

    .container_right {
        width: 100%;
        height: 100%;
    }

    .right_slideshow{
        position: relative;
        max-height: 250px;
        width: 100%;
        z-index: 0;
    }

        
    /* css list product */

    .container_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .product_cards{
        position: relative;
        width: calc(100%/2);
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 20px 0 20px;
    }

    .product_hover{
        width: auto;
        margin-right: 20px;
    }

    .product_name h3{
        font-weight: 700;
        font-size: 25px;
    }

    .product_actions{
        display: flex;
        justify-content: space-between;
    }

    .prices , .dis_prices, .re_prices{
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        color: #A50C15;    
        align-items: center;
    }

    .dis_prices{
        color: #999;
    }

    .order button{
        padding: 12px 8px;
        line-height: 20px;
        font-size: 18px;
        font-weight: 700;
        background-color: #ffffff;
        border: 1px solid #1DAA9F;
        border-radius: 4px;
        border-width: 2px;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .order:hover button{
        /* background-color: rgba(29, 170, 158, 0.8); */
        cursor: pointer;
        background-image: linear-gradient(to left, rgba(29, 170, 158, 0.9), rgba(29, 170, 158, 0.1));
    }
    
    /* css marquee */

    .best_selling-item {

        padding: 20px;
    }

    .list_marquee li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .marquee {
        height: 700px;
    }

    /* css news */

    .news {
        margin: 0;
    }

    
    .news_body {
        display: flex;
        flex-wrap: wrap;
    }

    .news_body-items{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        margin-bottom: 0;
    }

    .news_body-img{
        width: 100%;
        height: 55%;
    }

    .news_body-img img{
        border-radius: 50%;    
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 20px rgba(125,58,0,.62);
    }

    .news_body-text{
        padding: 20px 0;
        display: block;
        overflow: auto;
        width: 100%;
        height: 45%;
        font-size: 20px;
    }

    .news_body-desc{
        font-size: 25px;
    }

    .news_body-title{
        font-size: larger;
        font-weight: 500;
    }

    .news_body-btn button {
        font-size: 20px;
    }

    .news_body-btn button:hover{
        transition: 0.3s;
        background-color: #DEDAD7;
    }

    /* css footer */

    #footer{
        display: block;
        margin-top: 0px;
        background-color: #F9F5F0;
    }

    .wrapper_footer{
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: 5px solid #EE4D2D;
        height: auto;
        margin-bottom: 10px;
    }

    .footer_container{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: 20px auto;
        padding: 0;
    }

    .footer_container>div{
        margin-left: 20px;
    }

    .footer_heading{
        color: #af8c00;
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0;
    }

    .footer_desc{
        color: #999;
        margin: 10px 0;
        font-size: 16px;
    }

    .footer_form input{
        padding: 12px;
        width: 100%;
        padding-left: 10px;
        border-top: 1px solid #5A2B1F;
        border-right: 2px groove #5A2B1F;
        border-bottom: 1px solid #5A2B1F;
        border-left: 1px solid #5A2B1F;
        margin: 10px 0;
    }

    .footer_form button{
        padding: 12px;
        width: 100%;
        padding-left: 10px;
        border-radius: 3px;
        font-size: 16px;
        text-align: center;
        transition: all .3s linear;
        border: 0;
        outline: 0;
        background-image: linear-gradient(to left, rgba(250, 246, 3, 0.9), rgba(250, 171, 0, 0.76));
    }

    .footer_form button:hover{
        background-image: linear-gradient(to right, rgba(250, 246, 3, 0.9), rgba(250, 171, 0, 0.76));
    }

    .footer_notification{
        width: 150%;
        display: block;
    }

    .footer_help{
        width: 100%;
        padding-left: 10px;
    }

    .footer_desc-help{
        padding: 0;
    }

    .footer_desc-help ul{
        list-style-type: none;
    }

    .footer_desc-help ul li{
        padding-bottom: 20px;
    }

    .footer_payment {
        width: 100%;
    }

    .footer_payment .payment{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }

    .payment img{
        width: 40px;
        height: 100%;
        line-height: 60px;
        margin-right: 20px;
        padding-bottom: 10px;
    }

    .footer_contact ul{
        display: flex;
        list-style-type: none;
        padding-top: 10px;
    }

    .footer_contact ul li img{
        margin-right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .footer_copyright{
        display: flex;
        flex-direction: column;
        border-top: 1px solid #E4E4E4;
        width: 1170px;
        margin: 0 auto;
        padding: 20px;    
        justify-content: center;
        align-items: center;
        color: #999;
        align-content: center;
    }

    .copyright, .info{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .footer_copyright{
        display: flex;
        flex-direction: column;
        border-top: 1px solid #E4E4E4;
        width: 100%;
        margin: 0 auto;
        padding: 20px;    
        justify-content: center;
        align-items: center;
        color: #999;
        align-content: center;
    }

    .copyright, .info{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


}   

/* Media query cho điện thoại thông minh */
@media only screen and (max-width: 480px) {

    .seemore{
        display: none;
    }

    .wrapper{
        min-width: 0;
        overflow-x: hidden;
    }

    /* css header */

    .wrapper_header{
        display: none;
    }

    /* css sidebar */

    .content{
        position: relative;
        display: block;
    }
    
    .container_left{
        width: 100%;
        display: block;
        z-index: 999;
        position: fixed;
        top: 0;
    }


    .sidebar{
        padding-bottom: 0px;
        transition: height 1.3s ease;
    }

    .icon_menu-res{
        width: 100%;
    }

    .icon_menu-res i{
        font-size: 30px;
    }

    .sidebar.active{
        transform: translateX(0%);
        visibility: visible;
        width: 100%;
        height: 100%;
    }

    .sidebar_heading{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        height: 100px;
    }

    .sidebar_heading img{
        width: 80px;
        height: 80px;
    }

    .sidebar_menu{
        display: block;
        position: relative;
    }

    .sidebar_menu i{
        display: inline-block;
        color: #FAF6EF;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sidebar_company{
        margin-right: 100px;
    }

    #menu_mn, #menu_cl{
        border: none;
        background-color: transparent;
    }

    #menu_cl{
        visibility: hidden;
    }

    #menu_mn{
        visibility: visible;
    }

    #sidebar_container{
        height: 0; 
        transition: height 1.3s ease;
        background-color: #EF3F4D;
        display: none;
        opacity: 0;
    }

    .sidebar_items a:hover .sidebar_res{
        background-color: transparent;
        transform: none;
        scale: 1;
        transition-delay: 0s;
        box-shadow: none;
    }


    .container_right {
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
    }

    /* css slideshow */

    .right_slideshow{
        max-height: 100%;
    }

    .list_images{
        max-height: 500px;
    }

    .right_slideshow:hover .btn{
        display: none;
    }

    /* css list product */

    .product_cards{
        width: calc(100%/2);
        padding: 10px;
        padding-bottom: 0;
    }

    .content_product_img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .content_product {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
    }

    .content_product_desc {
        width: 100%;
    }

    .content_product_img:hover .product_hover{
        height: 80px;
    }
        
    .content_product_img:hover .product_hover{
        cursor: none;
        transform: none;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .product_hover{
        visibility: hidden;
        opacity: 0;
    }

    .product_actions {
        display: block;
        flex-direction: column;
    }

    .product_name{
        font-size: 25px;
        padding-bottom: 5px;
    }

    .prices , .dis_prices, .re_prices{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #A50C15;    
        align-items: center;
        line-height: 20px;
    }

    .dis_prices{
        padding-right: 10px;
        color: #999;
    }

    .order{
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .order button{
        padding: 10px 6px;
        line-height: 15px;
        font-size: 12px;
        font-weight: 600;
    }

    
    /* css marquee */

    .best_selling{
        display: block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .best_selling-item {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 36px;
        font-family: "Bungee Shade", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .marquee_content{
        margin-top: 20px;
        display: block;
        position: relative;    
    }

    .list_marquee li{
        width: calc(100% / 2); 
        flex-shrink: 0;
        font-size: 5rem;
        transition: 0.5s;
        padding: 0 15px;
    }

    /* css news */

    .news{
        width: 100%;
        position: relative;
        display: block;
    }

    .news_title{
        position: relative;
    }

    .news_heading{
        font-size: 180px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .news_story-heading{
        font-size: 70px;
        line-height: 70px;
    }

    .news_contain{
        width: 100%;
        margin: 20px 0;
        display: block;
        position: relative;
        height: auto;
    }

    .news_body{
        width: 65%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
    }

    .news_body-items {
        width: 100%;
    }

    .news_body-img img {
        height: 249.5px;
        object-fit: cover;
    }

    /* css footer */

    #footer{
        margin-top: 0;
    }

    .wrapper_footer{
        margin: 0 auto;
        width: 100%;
    }

    .footer_container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 10px auto;
        padding: 0;
    }

    .footer_container>div{
        margin-left: 0;
    }

    .footer_desc{
        font-size: 18px;
    }

    .footer_form button{
        padding: 10px;
        font-weight: 500;
    }

    .footer_notification{
        width: 100%;
    }

    .footer_help{
        width: 100%;
        padding-left: 0;
    }

    .footer_desc-help{
        padding: 0;
    }

    .footer_copyright{
        border-top: 2px solid #E4E4E4;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .fixed-action-btn {
        width: 60px;
        z-index: 99;
        right: 0;
    }

    .contact-box-wrapper{
        display: flex;
        background-color: transparent;
        margin: 10px 0;
        align-items: center;
        box-shadow: none;
    }

    .contact-box-wrapper:hover{
        transform: translateY(0);
    }

    .contact-icon-box {
        width: 60px;
        height: 60px;
        border: none;
        margin-right: 10px;
        display: contents;
    }

    .contact-icon-box img {
        width: 40px;
        height: auto;
        margin-left: 10px;
    }

    .contact-info{
        display: none;
    }

    .pushToTop:hover {
        color: #000;
    }

  }