@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .header_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        width: 1200px;
    }
}


@media only screen and (max-width: 480px) {

}